*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav.navbar{
    display: flex;
    background-color: black;
    color: #fff;
    align-items: center;
    padding: 20px ;
}
.logo{
    height: 35px;
    margin: 0 auto; 
    
}
.one{
    border-left:1px solid #fff;
    display: block;
    
}
.grow-list li{
    display: flex;
    
}
.list{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    
}
.list-item{
    margin-left:  50px ;
    font-family: Montserrat;
    
}
.button-small{
    background-color: #b401d3;
    padding: 10px 25px;
    color: #fff;
    font-size: 15px;
    font-family: poppins;
    border-radius: 10px;
    margin-left: 700px;
}
.hero{
    background-image: url(/assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #fff;
    justify-content: center;
    align-items: center;
}
.hero-heading{
    font-size: 80px;
    font-family: Montserrat;
    margin-bottom: 20px;
}
.hero-description{
    font-size: 30px;
    font-family: poppins;
}
.button-large{
    background-color: #b401d3;
    padding: 10px 60px;
    border: none;
    color: #fff;
    font-size: 30px;
    font-family: poppins;
    border-radius: 15px;
    margin-top: 20px;
    justify-content: space-between;
}